.page{
    width: 1000px;
    margin: auto;
    padding: 55px;
    padding-top: 40px;

.vis-container1 {
    width: 500%;
    height: 200%;
}
.vis-container2 {
    width: 300%;
    height: 200%;
}
.vis-container3 {
    width: 20%;
    height: 30%;
}
